html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 1.5em;
}
